.home-container{
    background:linear-gradient(white,rgb(222, 224, 222));
    padding-top:50px;
    width: 100%;
   padding-left: 20px;
  margin: 0;
    overflow: hidden;
}
.hero1{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100vh;
}

.hero-left{
    line-height: 1.2;
}
.hero-left h2{
font-size:var(--small-font);
}
.hero-left p{
font-size:90px;
font-weight: 700;
}
.hero-left .hero-btn{
    background-color: var(--background-green);
    color: var(--text-color-white);
    font-size: 20px;
    width: fit-content;
    padding: 10px 20px;
    display: flex; 
    align-items: center;
    gap:7px;
    cursor: pointer;
    margin-top: 20px;
}
.hero-right .image{
    display: flex;
    align-items: center;
    justify-content: center;
    width:850px;
    margin: 0;
    height: 90vh;
    overflow: hidden;
}
.image img{
    object-fit: cover;
    width: 120%;
    height: 100%;
}